fastapi
uvicorn[standard]
google-generativeai
python-dotenv
PyJWT
SQLAlchemy
pymysql
werkzeug
pydantic
pydantic[email]
python-multipart
httpx

# OAuth dependencies
authlib
itsdangerous

# Logging and token counting dependencies
tiktoken
pytz
slowapi